@page
@model Smart.Pages.Notes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="backgroundWhite container">
    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        @foreach (var item in Model.Note)
        {
            <li class="btn btn-secondary ml-1 mr-1" data-filter=".@item.NoteType.Description.Replace(" ",string.Empty)">@item.NoteType.Description</li>
        }
    </ul>
    @foreach (var item in Model.Note)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_NotePartialView"
                     model="@Model.Note.Where(m=>m.NoteType.Description.Equals(item.NoteType.Description))" />
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].NoteType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Note) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
