@page
@model Smart.Pages.Instructors.Grading.IndexModel
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Grading";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ClassId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Term.StartDate)*@
                @(item.Term.StartDate.ToString("MMMM") + " to " + item.Term.EndDate.ToString("MMMM") + " " + item.Term.EndDate.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClassId">Select Class</a>
            </td>
        </tr>
}
    </tbody>
</table>
