@page
@model Smart.Pages.ScheduleStudents.IndexModel
@{
    ViewData["Title"] = "Schedule Students";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row py-3">
        <h2>Schedule Students</h2>
    </div>
    <div class="row">
        <h6>Select Term:</h6>
    </div>
    <form method="get" id="TermStudentForm">
        <div class="row pb-3">
            <select name="termId" id="TermId" asp-items="Model.Terms" class="form-control"></select>
        </div>
        <div class="row">
            <h6>Select Student:</h6>
        </div>
        <div class="row pb-3">
            <select name="studentId" id="StudentId" asp-items="Model.StudentsSelectList" class="form-control"></select>
        </div>
    </form>
    @if (Model.ClassSchedules != null)
    {
        <form method="post" id="ClassForm">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        @if (Model.ClassSchedules.Any(cs => cs.ScheduleAvailability.DayOfWeek == 0))
                        {
                            <th>Sunday</th>
                        }
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        @if (Model.ClassSchedules.Any(cs => cs.ScheduleAvailability.DayOfWeek == 6))
                        {
                            <th>Saturday</th>
                        }
                    </tr>
                </thead>
                <tr>
                    @{ 
                        var currentDay = 8;
                    }

                    @* This adjusts the current column over. In case there isn't a class scheduled monday *@
                    @for(int i = 1; i < Model.ClassSchedules[0].ScheduleAvailability.DayOfWeek; i++)
                    {
                        <td></td>
                    }

                    @for (int i = 0; i < Model.ClassSchedules.Count; i++)
                    {
                        if (Model.ClassSchedules[i].ScheduleAvailability.DayOfWeek != currentDay)
                        {
                            if (currentDay < 8)
                            {
                                @:</td>
                                while (currentDay < Model.ClassSchedules[i].ScheduleAvailability.DayOfWeek - 1)
                                {
                                    currentDay++;
                                    <td></td>
                                }
                            }
                            @:<td>
                            currentDay = Model.ClassSchedules[i].ScheduleAvailability.DayOfWeek;
                        }
                        <div class="py-2">
                            Instructor: @Model.ClassSchedules[i].Class.ApplicationUser.LastName <br />
                            Course: @Model.ClassSchedules[i].Class.Course.Name <br />
                            Start: @Model.ClassSchedules[i].ScheduleAvailability.StartTime.ToShortTimeString()<br/>
                            End: @Model.ClassSchedules[i].ScheduleAvailability.EndTime.ToShortTimeString()<br/>
                            Select: <div class="float-right"><input class="form-check-input checkBox" type="checkbox" asp-for="@Model.ClassSchedules[i].Selected" /></div>
                            <br />
                        </div>
                    }
                </tr>
            </table>
        </form>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#TermId').change(function () {
                $('#TermStudentForm').submit();
            });
            $('#StudentId').change(function () {
                $('#TermStudentForm').submit();
            });
        });
    </script>
}
