@page
@model Smart.Pages.Applicants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Applicants</h1>

<p>
    <a asp-page="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Add New Applicant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentStatus.Description)
                </td>
                <td style="width:150px">
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary text-white" asp-page="./Edit" asp-route-id="@item.StudentId"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-success text-white" asp-page="./Details" asp-route-id="@item.StudentId"><i class="fas fa-list-alt"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
