@page
@model Smart.Pages.Rating.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Applicants</h2>
<br />

@*Student Table*@
<table class="table table-striped border col-md-12" id="applicantTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>

            @*Just show for instructors that are logged in*@
            @if (User.IsInRole("Instructor") && !User.IsInRole("Admin"))
            {
                <th>
                    Rated?
                </th>

            }
            else
            {
                <th>
                    Total Score
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                @*Just show for instructors that are logged in*@
                @if (User.IsInRole("Instructor") && !User.IsInRole("Admin"))
                {
                    if (Model.SetShowCheckBox(item.StudentId))
                    {
                        <td>
                            <input type="checkbox" name="isRated" value="idk" onclick="return false" checked>
                        </td>
                    }
                    else
                    {
                        <td>
                            <input type="checkbox" name="isRated" value="idk" onclick="return false">
                        </td>
                    }
                }

                @if (User.IsInRole("Admin"))
                {
                    @*Calculate Composite Scores*@
                    <td>
                        @{
                            int scoreEarned = 0;
                            int finalScore = 0;

                            foreach (var rating in Model.ApplicantRating)
                            {
                                if (rating.StudentId == item.StudentId)
                                {
                                    scoreEarned += rating.ScoreAssigned;
                                }
                            }

                            finalScore = scoreEarned;

                        }

                        @Html.DisplayFor(modelItem => finalScore)
                    </td>
                }

                @*Button Group*@
                @if (!User.IsInRole("Admin"))
                {
                    <td style="width:200px">
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary text-white" asp-page="Rating" asp-route-Id="@item.StudentId">
                                Rate Student
                            </a>
                        </div>
                    </td>
                }

                @if (User.IsInRole("Admin"))
                {
                    <td style="width:150px">
                        <a class="btn btn-primary text-white" asp-page="/Students/Edit" asp-route-id="@item.StudentId">
                            Edit Student
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
