@page
@model Smart.Pages.Ratings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantRating[0].Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantRating[0].Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantRating[0].RatingCriteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantRating[0].ScoreAssigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantRating[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ApplicantRating) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingCriteria.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreAssigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ApplicantRatingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ApplicantRatingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ApplicantRatingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
